@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 1.25rem;
    color: var(--main-color);
    /* overflow: hidden; */
}

em {
    font-style: italic;
}

.header {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.header h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow:
        0 0 5px rgba(216, 26, 125, 0.2),
        0 0 10px rgb(216, 26, 125, 0.5),
        0 0 20px rgb(216, 26, 125, 0.7),
        0 0 40px rgba(216, 26, 124, 0.8);
}

.background {
    width: 100dvw;
    height: var(--doc-height);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.line-layout,
.drag-layout {
    width: 100%;
    height: var(--doc-height);
    position: absolute;
    padding: 0;
    margin: 0;
}

.block {
    position: absolute;
    /* padding: 15px 15px; */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    /* background-color: #fff; */
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    z-index: 999;
}

.block p {
    text-shadow:
        0 0 5px rgba(216, 26, 125, 0.2),
        0 0 10px rgb(216, 26, 125, 0.5),
        0 0 20px rgb(216, 26, 125, 0.7),
        0 0 40px rgba(216, 26, 124, 0.8);
}

.drag-element {
    position: absolute;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    pointer-events: none;
    z-index: 3;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.drag-element-wrapper {
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    /* border: 1px solid var(--main-color); */
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 24px 8px rgb(216 26 125 / 30%);
}

.drag-element-wrapper img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.draggable {
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 720px) {
    .mobile {
        width: 100%;
        height: var(--doc-height);
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        z-index: 999;
    }

    .mobile-wrapper {
        padding: 15px 15px;
        border: 1px solid #000;
        background-color: #fff;
    }

    canvas,
    .line-layout,
    .drag-layout {
        display: none;
    }
}